# Python builds

*.ipynb
**/*.ipynb
*.egg-info
*.pyc
build
dist
.pytest_cache
# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode

# OS stuff

.DS_Store
*~
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
