# Python builds

*.egg-info
*.pyc
build
dist
.pytest_cache
.venv
# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode

# OS stuff

.DS_Store
*~
notebooks/.ipynb_checkpoints/*-checkpoint.ipynb
